h1 {
  font-size: 6ex;
}

p {
  font-size: 3ex;
}

.landing {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: black;
  /* background-color: #2B3965; */
  height: 90vh;
  padding: 20px;
}

.iconBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: right;
  font-size: 3em;
}

.mainInfo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;
}

.textBox {
  margin: 10px;
  align-self: center;
}

#headshot {
  width: 20%;
  height: 20%;
  border-radius: 45px;
  margin: 10px;
}

#hover {
  color: white;
}

#not-hover {
  color: grey;
}
